p {
  margin: 0;
  color: rgb(56, 56, 56);
}

.app {
  display: flex;
  flex-direction: column;
}

.input {
  padding: 8px 16px;
  border-radius: 4px;
  border: 2px rgb(56, 56, 56) solid;
  width: 120px;
  outline: none;
}

.input:focus {
  border-color: dodgerblue;
}

.input + .input-label {
  margin-top: 8px;
}

.input-label {
  font-family: Arial;
  font-size: 9pt;
  font-weight: bold;
}

.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input::placeholder {
  font-family: Arial;
  font-size: 8pt;
}

.form {
  display: flex;
  flex-direction: column;
}

.button {
  margin-top: 16px;
  height: 36px;
  padding: 8px 16px;
  border-radius: 4px;
  border: none;
  background: dodgerblue;
  color: white;
  cursor: pointer;
  font-family: Arial;
  font-size: 10pt;
  font-weight: bold;
}

.window {
  width: 100px;
  border: solid 2px rgb(56, 56, 56);
}

.window-with-size {
  position: relative;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.window-section {
  width: 100%;
  border: solid 2px rgb(56, 56, 56);
}

.window .window-with-size p {
  position: absolute;
  right: 8px;
}

.window-top {
  background: rgba(220, 190, 150, 0.4);
}

.window-middle {
  background: rgba(40, 150, 130, 0.4);
}

.window-bottom {
  background: rgba(100, 200, 220, 0.4);
}

.windows {
  display: flex;
  align-items: flex-end;
  gap: 16px;
  margin-top: 32px;
}

.new {
  display: flex;
  align-items: center;
  gap: 8px;
}

.input-label {
  margin-top: 8px;
}
